<!DOCTYPE html>
<html>
<head>
    {{ template "head.html" }}
    <title>Your Cart</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/cart.css">
</head>
<body>
{{ template "header.html" }}
<div class="cart-items">
    <h2>Your Cart</h2>
    <table>
        <thead>
        <tr>
            <th>Software</th>
            <th>Price</th>
            <th>Duration</th>
            <th>Subscription Type</th>
            <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
        {{range $key, $value := .cart}}
        <tr>
            <td>{{ $value.Product.Name }}</td>
            <td>{{ $value.Product.Price }}</td>
            <td>{{ $value.Count }}</td>
            <td>{{ $value.Product.Subscriptiontype }}</td>
            <td>{{ index $.subtotal $key }}</td>
        </tr>
        {{end}}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">Total:</td>
            <td>{{ .sum }}</td>
        </tr>
        </tfoot>
    </table>
    <a href="#" class="btn">Checkout</a>
</div>
{{ template "footer.html" }}
</body>
</html>