{{define "header.html"}}
<div class="header">
    <link rel="stylesheet" href="/assets/index.css">
    <a style="display: flex; align-items: center; text-decoration: none; cursor: pointer; color: inherit;" href="/">
        <img src="/assets/pic.png" style="width: 25px; height: 25px; margin-right: 10px;">
        <h1 style="font-size: 24px; font-weight: bold; margin: 0;">GoSoft</h1>
    </a>
    <button id="menu-toggle">☰ Menu</button>
    <script src="/assets/menu.js"></script>

    <nav id="mobile_menu">
        <ul>
            <li><a href="/">Main</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/cart">Cart</a></li>
        </ul>
    </nav>
    <link rel="stylesheet" href="/assets/menu.css">

    <nav id="menu">
        <ul>
            <li><a href="/">Main</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/cart">Cart</a></li>
        </ul>
    </nav>
</div>
{{end}}