<!DOCTYPE html>
<html>
<head>
    {{ template "head.html" }}
    <link rel="stylesheet" href="/assets/index.css">
</head>
<body>
{{ template "header.html" }}
<div class="hero">
    <div class="hero-content">
        <h2>Welcome to GoSoft</h2>
        <p>We offer a range of cutting-edge software solutions for trading firms of all sizes and common users.</p>
    </div>
</div>
<div class="about-us">
    <h3>About Us</h3>
    <p>Welcome to GoSoft, your one-stop-shop for all your software needs! We specialize in developing and selling software applications for businesses and individuals.</p>
    <p>Our team of experienced developers is dedicated to creating innovative and high-quality software that solves real-world problems and enhances productivity. We offer a wide range of software solutions, from productivity tools to custom software development services.</p>
    <p>In addition to our own software products, we also partner with top-tier third-party developers to offer an extensive selection of software applications on our website. This allows us to provide our customers with the latest and greatest software solutions on the market.</p>
    <p>At GoSoft, we pride ourselves on providing exceptional customer service. Our knowledgeable and friendly support team is available to assist you with any questions or issues you may have. We also offer a satisfaction guarantee on all our products, so you can shop with confidence.</p>
    <p>Thank you for choosing GoSoft for your software needs. Browse our website to see all the exciting software solutions we have to offer!</p>
</div>
<!-- Slideshow container -->
<div class="slideshow-container">
    <div class="mySlides fade">
        <div class="numbertext">1 / 4</div>
        <div class="hero" style="    background-image: url('/assets/ph1.jpg');">
            <div class="hero-content">
                <h2>How we provide good software?</h2>
                <p>We look for a companies that has experience in developing software solutions. We check their portfolio and case studies to see how they have worked on projects and if their past clients were satisfied with their work. Additionally, we look for companies that have experienced and well-trained software developers and quality assurance professionals.</p>
            </div>
        </div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">2 / 4</div>
        <div class="hero" style="    background-image: url('/assets/ph2.jpg');">
            <div class="hero-content">
                <h2>What companies are we interested in?</h2>
                <p>Communication is key to a successful software development project. We look for a companies that has a clear and open communication process. They should be willing to communicate with us regularly, provide progress updates, and be available to answer any questions.</p>
            </div>
        </div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">3 / 4</div>
        <div class="hero" style="    background-image: url('/assets/ph3.jpg');">
            <div class="hero-content">
                <h2>We stay ahead on technology</h2>
                <p>We make sure the company has the technical expertise required to develop the software solution you need, check that they use the latest technologies and tools for software development and can provide technical support after the project is completed. </p>
            </div>
        </div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">4 / 4</div>
        <div class="hero" style="    background-image: url('/assets/ph3.jpg');">
            <div class="hero" style="    background-image: url('/assets/ph4.jpg');">
                <div class="hero-content">
                    <h2>We are developers too</h2>
                    <p>To shown you that we are competent in technologies which we provide, we make and support high rated applications which help to protect Windows, Linux and MacOS operating systems from external threats.</p>
                </div>
            </div>
        </div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<script src="/assets/index.js"></script>
<div class="about-us">
    <h3>What we provide</h3>
    <p>We provide many kinds of software on subscription. You can order our software for any comfortable period and then pay in your preferred way. After purchase, you get access to the specified software, you can download it. All programs have a built-in protection mechanism, but after purchase, you get a label that you have gained access to the product.</p>
    <p>We work as follows: software companies come to us and get a place on the site. You get the opportunity to find their product and buy it, and in this case you get the software for a specified period of time, we receive 10% of the cost of the product as distributors, the remaining 90% are returned in full to the company.</p>
    <p></p>
</div>
<!--<div class="contact-us">
    <h3>Contact Us</h3>
    <form action="">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <label for="message">Message:</label>
        <textarea id="message" name="message"></textarea>
        <input type="submit" value="Send">
    </form> // TODO: FOR FUTURE
</div> -->
{{ template "footer.html" }}
</body>
</html>