<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head.html" }}
    <title>User Profile</title>
    <link rel="stylesheet" href="/assets/store.css" />
    <link rel="stylesheet" href="/assets/profile.css" />
</head>
<body>
{{ template "header.html" }}
<div class="container">
    <h1 style="margin: 0 auto;">User Profile</h1>
    <table id="user-profile">
        <tr>
            <th>User ID</th>
            <td id="user-id">{{.profile.ID}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td id="user-email">{{.profile.Email}}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td id="user-name">{{.profile.Name}}</td>
        </tr>
        <tr>
            <th>Surname</th>
            <td id="user-surname">{{.profile.Surname}}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td id="user-gender">{{.profile.Gender}}</td>
        </tr>
        <tr>
            <th>Registration Date</th>
            <td id="user-registration-date">{{.profile.Date}}</td>
        </tr>
        <tr>
            <th>Role</th>
            <td id="user-role">{{.profile.Role}}</td>
        </tr>
    </table>
</div>
{{ if gt (len .purchases) 0 }}
<div class="containerPurchased">
    <h2 style="text-align: center; padding-bottom: 20px">Purchased</h2>
    <ul class="product-list">
        {{range .purchases}}
        <li class="product-item" itemid="${array[i]['id']}">
            <div class="product-info" style="display: flex; height: 200px">
                <div style="width: 50%">
                    <img src="{{.Product.Photo}}" style="height: 100%; margin: 0 auto">
                </div>
                <div style="width: 50%" id="text">
                    <h3>{{.Product.Name}}</h3>
                    <p>Price: ${{.Product.Price}}/{{.Product.Subscriptiontype}}</p>
                    <p>Subscription Date: {{.Date}}</p>
                    <p>Subscription duration: {{.Count}}</p>
                    <p>Subscription type: {{.Product.Subscriptiontype}}</p>
                </div>
            </div>
            <a class="add-to-cart" href="/files/{{.Product.File}}">Download</a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
{{ template "footer.html" }}
<script src="../assets/profile.js"></script>
</body>
</html>