/* Style for the button */
#menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5em;
    margin: 10px;
    cursor: pointer;
}

/* Style for the menu */
#mobile_menu {
    z-index: 2;
    display: none;
    position: absolute;
    top: 60px; /* Adjust this value to position the menu */
    left: 0;
    width: 100%;
    background-color: #1E90FF;
    color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#mobile_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#mobile_menu li {
    margin: 20px 10px;
}

#mobile_menu a {
    background-color: #1E90FF;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
    /* Show the button and menu on mobile devices */
    #menu-toggle {
        display: block;
    }

    #menu {
        display: none;
    }

    #mobile_menu {
        display: none;
    }
}

@media (min-width: 767px) {
    /* Show the button and menu on mobile devices */
    #menu-toggle {
        display: none;
    }

    #mobile_menu {
        display: none;
    }
}